<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Calendar Entries</title>
</head>
<body>
<h1>Calendar Entries</h1>
Etag: <span th:text="${calendarEntry.etag}"/>
<br/>
Kind: <span th:text="${calendarEntry.kind}"/>
<table style="border-spacing: 2px; border: 1px solid black;">
    <tr>
        <th>Id</th>
        <th>Kind</th>
        <th>Summary</th>
    </tr>
    <tr th:each="item: ${calendarEntry.items}">
        <td>
            <a th:href="@{/calendar-events/{calendarId}(calendarId=${item.id})}"><th:block th:utext="${item.id}"/></a>
        </td>
        <td th:text="${item.kind}"/>
        <td th:text="${item.summary}"/>
    </tr>
</table>

</body>
</html>
